<div class="main_info col-md-12 pd-10-top pd-10-bottom">
  <div class="divition_content"></div>
</div>  

<div class="menu_content pd-10">
  <div class="big_screen_organize">
    <p class="ementa_title ementa_content">{{site.data.bebidas.en.beverage.title}}</p>
  </div>
</div>

<div class="beverage_content pd-10">
  <div class="big_screen_organize">
    
    <!-- OPT 1 - Coffees -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.coffees.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price9}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc10}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price10}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc11}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price11}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc12}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price12}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc13}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price13}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc14}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price14}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.desc15}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.coffees.price15}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 2 - shakes -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.shakes.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.shakes.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.shakes.price}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 3 - Non Alcohol -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.non_alcohol.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price9}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc10}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price10}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.desc11}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.non_alcohol.price11}}</p>
        </div>
      </div>
    </div>


    <!-- OPT 4 - Alcohol: beers -->
    <div class="main_info col-md-12 pd-10-top pd-10-bottom">
      <div class="divition_content"></div>
    </div>  
    <div class="menu_content pd-10">
      <div class="big_screen_organize">
        <p class="ementa_title ementa_content text-center">{{site.data.bebidas.en.beverage.alcohol.title}}</p>
      </div>
    </div>
    <div class="pd-20-bottom">
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.beers.price8}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 5 - Alcohol: sangria -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.sangria.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.sangria.price3}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 6 - Alcohol: aperitifs -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.aperitifs.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aperitifs.price5}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 7 - Alcohol: wines -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.wines.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price9}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc10}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price10}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.desc11}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.wines.price11}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 8 - Alcohol: liqueurs -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.liqueurs.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.liqueurs.price9}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 9 - Alcohol: wines -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.gin.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price9}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc10}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price10}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc11}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price11}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.desc12}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.gin.price12}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 10 - Alcohol: vodka -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.vodka.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.vodka.price8}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 11 - Alcohol: whisky_new -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.whisky_new.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_new.price3}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 12 - Alcohol: whisky_old -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.whisky_old.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.whisky_old.price5}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 13 - Alcohol: malt -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.malt.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.malt.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.malt.price1}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 14 - Alcohol: irish -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.irish.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.irish.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.irish.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.irish.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.irish.price2}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 15 - Alcohol: american -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.american.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.american.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.american.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.american.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.american.price2}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 16 - Alcohol: aguardente -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.aguardente.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.aguardente.price8}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 17 - Alcohol: cocktails_alcohol -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price6}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc7}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price7}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc8}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price8}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.desc9}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_alcohol.price9}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 18 - Alcohol: cocktails_non_alcohol -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.bebidas.en.beverage.alcohol.cocktails_non_alcohol.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_non_alcohol.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_non_alcohol.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_non_alcohol.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.bebidas.en.beverage.alcohol.cocktails_non_alcohol.price2}}</p>
        </div>
      </div>
    </div>

  </div>
</div>