<header class="header-bg_color col-md-12 text-center pd-0">
 
  <div class="col-0-invisible col-lg-12 pd-0"> 
    <div class="invisible_content txt-10">no content</div>
  </div>

  <div class="col-0-invisible col-lg-12">
    <img src="../assets/images/iconns/pnch_text_logo.png" alt="">
  </div>

  <div class="col-0-invisible col-lg-12"> 
    <div class="invisible_content txt-10">no content</div>
  </div>  

  <div class="col-sm-12 pd-0"> 
    <div class="row choose_language mrg-0">
      <!-- EN -->
      <a href="../index"class="col-sm-6 col-6 header-tab_color mrg-0 pd-5-top pd-5-bottom">
        <p class="mrg-0">Portuguese</p>
      </a>
      <!-- PT -->
      <a href="../index_en"class="col-sm-6 col-6 header-tab_color mrg-0 pd-5-top pd-5-bottom">
        <div class="row">
          <div class="col-5 col-sm-5 col-md-6 separate">
            <p class="mrg-0">|</p>
          </div>
          <div class="col-7 col-sm-7 col-md-6 separate">
            <p class="mrg-0">English</p>
          </div>
        </div>
      </a>
      <!-- ES -->
      <!-- <a href="../index_es"class="col-sm-3 col-3 header-tab_color mrg-0 pd-5-top pd-5-bottom">
        <div class="row">
          <div class="col-5 col-sm-5  col-md-6 separate">
            <p class="mrg-0">|</p>
          </div>
          <div class="col-7 col-sm-7  col-md-6 separate">
            <p class="mrg-0">ES</p>
          </div>
        </div>
      </a> -->
      <!-- FR -->
      <!-- <a href="../index_fr"class="col-sm-3 col-3 header-tab_color mrg-0 pd-5-top pd-5-bottom">
        <div class="row">
          <div class="col-5 col-sm-5 col-md-6 separate">
            <p class="mrg-0">|</p>
          </div>
          <div class="col-7 col-sm-7 col-md-6 separate">
            <p class="mrg-0">FR</p>
          </div>
        </div>
      </a> -->
    </div>
  </div>  
</header>