<!-- <div class="main_info col-md-12 pd-10-top pd-10-bottom">
  <div class="divition_content"></div>
</div> -->
<div class="la_carte_content pd-10">
  <div class="big_screen_organize">

    <!-- starter -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.starter.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.starter.desc}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.starter.price}}</p>
        </div>
      </div>
    </div>

    <!-- appetizers -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.appetizer.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.appetizer.price3}}</p>
        </div>
      </div>
    </div>

    <!-- amuse_bouche -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.amuse_bouche.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.amuse_bouche.price3}}</p>
        </div>
      </div>
    </div>
    
    <!-- fish -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.fish.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.fish.price3}}</p>
        </div>
      </div>
    </div>

    <!-- meat -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.meat.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.meat.price3}}</p>
        </div>
      </div>
    </div>

    <!-- vegetarian -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.vegetarian.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.vegetarian.price3}}</p>
        </div>
      </div>
    </div>

    <!-- childs menu -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.childrens_menu.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.childrens_menu.price3}}</p>
        </div>
      </div>
    </div>

    <!-- dessert -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.la_carte.desert.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.la_carte.desert.price3}}</p>
        </div>
      </div>
    </div>
    
  </div>
</div>