<div class="main_info col-md-12 pd-10-top pd-10-bottom">
  <div class="divition_content"></div>
</div>  

<div class="menu_content pd-10">
  <div class="big_screen_organize">
    <p class="ementa_title ementa_content">{{site.data.ementa.en.vinhos.title}}</p>
  </div>
</div>

<div class="beverage_content pd-10">
  <div class="big_screen_organize">
    
    <!-- OPT 1 - vinho verde -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.vinhos_verde.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.white_wine.price6}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.vinhos_verde.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.vinhos_verde.tinto.price1}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 2 - Dao -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.dao.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.dao.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.white_wine.price1}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.dao.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.tinto.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.tinto.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.dao.tinto.price2}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 3 - Douro -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.douro.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.douro.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.white_wine.price5}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.douro.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.douro.tinto.price5}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 4 - bairrada -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.bairrada.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.bairrada.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.white_wine.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.white_wine.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.white_wine.price2}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.bairrada.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.tinto.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.tinto.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.bairrada.tinto.price2}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 5 - Beiras -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.beiras.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.beiras.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.white_wine.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.white_wine.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.white_wine.price2}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.beiras.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.tinto.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.tinto.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.beiras.tinto.price2}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 6 - Alentejo -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.alentejo.title}}</p>
      <!-- verde -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.alentejo.white_wine.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.white_wine.price5}}</p>
        </div>
      </div>
      <!-- tinto -->
      <p class="ementa_desc_green mrg-0">{{site.data.ementa.en.vinhos.alentejo.tinto.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.alentejo.tinto.price5}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 7 - rose -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.rose.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.rose.price4}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 8 - sparkling_wines -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.sparkling_wines.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.sparkling_wines.price4}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 9 - champagne -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.ementa.en.vinhos.champagne.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.ementa.en.vinhos.champagne.price5}}</p>
        </div>
      </div>
    </div>

  </div>
</div>