
<footer class="footer row">
    <div class="text-center col-12 col-sm-12" >
      <img src="../assets/images/barra_feder.jpg" alt="">
    </div>
  <!-- <div class="grid">
    <div class="frame">
        <div class="c6"> -->
      <div class="col-1 col-sm-6">
        <span class="small-links grey invisible_content" style="margin-top:9px;">a</span>
      </div>
      <div class="col-11 col-sm-6">
        <p style="margin-top:9px; text-align: right; padding-right: 5px;">© Copyright 2020, Porta Nova Collection House</p>
      </div>
          <!-- <span class="helper"></span> -->
          <!-- <a href="https://www.linkedin.com/company/insignya-capital-partners"><img id="logo-footer" src="assets/sites/insig/theme/images/icons/linked_in_bluebaed.svg?9f209175bca1f4357c64f25c6b29a00a" height="50" width="50"/></a> -->
        <!-- </div> -->

        <!-- <div class="c6">
          <div class="portfolioinner small-links">
            <span class="helper"></span>
            <span class="mix"><a href="faq.html">FAQ</a></span>
            <span class="mix"><a href="recrutamento.html">Recrutamento</a></span>
            <span class="mix"><a href="termos-uso.html">Termos de Utilização</a></span>
          </div>
        </div> -->

    <!-- </div>
  </div> -->
</footer>