

<header class="header-bg_color col-md-12 text-center pd-0">
 
  <div class="col-0-invisible col-lg-12 pd-0"> 
    <div class="invisible_content txt-10">no content</div>
  </div>

  <div class="col-0-invisible col-lg-12">
    <img src="../assets/images/iconns/pnch_text_logo.png" alt="">
  </div>

  <div class="col-0-invisible col-lg-12"> 
    <div class="invisible_content txt-10">no content</div>
  </div>  

  <div class="col-sm-12 pd-0"> 
    <div class="row choose_language mrg-0">
      <a href="../index"class="col-md-6 col-sm-6 col-6 header-tab_color mrg-0" id="lan_en">
        <p class="mrg-0">EN</p>
      </a>

      <a href="../pt_index"class="col-md-6 col-sm-6 col-6 header-tab_color mrg-0" id="lan_pt">
        <p class="mrg-0">PT</p>
      </a>
    </div>
  </div>  
</header>