

<header class="header-bg_color col-md-12 text-center pd-0">
 
  <div class="col-md-12 pd-0"> 
    <div class="invisible_content">no content</div>
  </div>

  <div class="col-md-12">
    <img src="../assets/images/iconns/pnch_text_logo.png" alt="">
  </div>

  <div class="col-md-12"> 
    <div class="invisible_content">no content</div>
  </div>  

  <div class="col-md-12 pd-0"> 
    <div class="row choose_language mrg-0">
      <div class="col-md-6 header-tab_color mrg-0" id="lan_en">
        <p class="mrg-0">EN</p>
      </div>

      <div class="col-md-6 header-tab_color mrg-0" id="lan_pt">
        <p class="mrg-0">PT</p>
      </div>
    </div>
  </div>  
</header>