
<div class="main_info col-md-12 pd-10-top pd-10-bottom">
  <div class="divition_content"></div>
</div>  

<div class="menu_content pd-10">
  <div class="big_screen_organize">
    <p class="ementa_title ementa_content">{{site.data.petiscos.pt.snacks.title}}</p>
  </div>
</div>

<div class="snacks_content pd-10">
  <div class="big_screen_organize">
    
    <!-- OPT 1 - Cold Sandwich -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.petiscos.pt.snacks.cold_sandwich.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.cold_sandwich.price3}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 2 - Hot Sandwich -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.petiscos.pt.snacks.hot_sandwich.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price5}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.desc6}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.hot_sandwich.price6}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 3 - platters -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.petiscos.pt.snacks.platters.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.platters.price3}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 4 - ice cream -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.petiscos.pt.snacks.ice_cream.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.price1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.desc2}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.price2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.desc3}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.price3}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.desc4}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.price4}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.desc5}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.ice_cream.price5}}</p>
        </div>
      </div>
    </div>

    <!-- OPT 5 - pudding -->
    <div class="pd-20-bottom">
      <p class="ementa_desc_important mrg-0">{{site.data.petiscos.pt.snacks.pudding.title}}</p>
      <div class="row">
        <div class="col-10">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.pudding.desc1}}</p>
        </div>
        <div class="col-2 price_content">
          <p class="ementa_desc">{{site.data.petiscos.pt.snacks.pudding.price1}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
